*{
    margin: 0;
    padding: 0;
}    
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content:center; /* Adjusted to space between logo and text */
}

header img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

header div {
flex-grow: 1; /* Allows the div to grow and take up remaining space */
text-align: center;
}

header h1 {
    font-weight: bold;
    margin: 0;
}

header h3 {
    display: block; 
    margin: 0;
}

nav {
    background-color: #555;
    padding: 1em;
    display: flex;
    justify-content:center;
    
}


.maitphoto{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77, 112, 146, 0.7),rgba(146, 172, 76, 0.7)),url(./images/edited\ final\ mait\ front.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    border-radius: 5px;
    font-size:large;
}

.navlinks a{
    color: rgb(173, 50, 56);
}
.bw{
    width: 1200;
    height: 300;
    font-size:large;
    text-align: center;
}
#AboutJournal{
    text-align: center;
    font-size: xx-large;
}
#description{
    font-size: larger;
}
.text-box{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.first{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid  #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.first:hover{
    border: 1px solid #f44366;
    background: #f44366;
    transition: 1s;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}